<center>
<h1> My cart</h1>
<% @cart.items.each do |x| %>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="<%= x.image_url %>" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= x.title %></h5>
        <p class="card-text"><%= x.description %></p>
        <p class="card-text"><small class="text-muted"><%= x.price %> $ </small></p>

<a href="<%= item_path(x.id) %>" class="btn btn-primary">Show</a>
      </div>
    </div>
  </div>
</div>

<% end %>




<p> <a href="<%= items_path %>" class="btn btn-primary">Back</a> </p>
</center>


<%= form_with(url: orders_path, method: 'post') do %>
<%= button_tag(type: "submit", class: "btn btn-default") do %>
<span class="btn btn-button btn-primary"><i class="fas fa-cart-arrow-down pr-2"></i>Add to order</span>
<% end %>
<% end %></span>
